body {
    background: #F1F9FF;
    overflow-y: scroll;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.alert {
    position: absolute;
    top: 12%;
    left: 50%;
}

.alert.alert-danger {
    position: absolute;
    top: 15%;
    left: 50%;
}



 
