* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}
  body {
   background: #F1F9FF;
  }

  .active {
    background-color: green;
  }

  ol, ul {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }

  .alert {
    position:absolute;
    top: 12%;
    left:56%;
  }

  .alert.alert-danger {
    position:absolute;
    top: 15%;
    left:50%;
  }