main {
  display:flex;
  width: 100vw;
  height: 100vh;
  /* background: #F4F7FA; */
}

.container {
  display: grid;
  grid-template-columns:2fr 2fr;
  grid-template-areas: "image form";
  align-items:center;
  justify-content:center;

  width: 100%;
  max-width: 800px;
  height: 420px;
  margin: auto auto;
  box-shadow: 1px 1px 5px #bbb;
}

.box-image {
  display: grid;
  grid-area:image;
  width: 100%;
  height: 100%;
  background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
  align-items: center;
  justify-content: center;
}
.background-img {
  background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%) !important;

}

.box-form {
  display:grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 1fr; */
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  grid-area: form;
  width: 100%; 
  height:100%;
  background:#fff;
}

.box-form h1 {
  text-align: center;
  font-weight: 400;
}
.box-form .form-group:first-child {
  margin-top: -5rem;
}
.box-form .form-group {
  margin: 1.2rem auto;
  width: 100%;
  max-width: 250px;
}

.box-form .form-group  input {
  width: 100%;
  height: 43px;
  padding: 10px 20px;
  background: #F4F7FA;
  outline: none;
  border-radius: 0.25rem;
  transition: all 0.3s;
  border: 1px solid rgba(0,0,0,.125);
  font-size:1rem;
  color:#999;
}
.box-form .form-group  input:focus {
  border-color: #007bff;
  box-shadow: 2px 2px 3px #a8d2ff;
}
.box-form .form-group:nth-child(3),
.box-form .form-group:nth-child(4) {
  display:grid;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.box-form .form-group button {
  width:100px;
  height:40px;
  padding: 10px 20px;
  outline:none;
  background-color:#04a9f5;
  border:none;
  color: #fff;
  border-radius: 0.45rem;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: background-color 0.2s;
  font-size: 1rem;
}

.box-form .form-group button:hover {
  background-color:#0c87c0;

}
.box-form .form-group span {
  color: #888;
}
.box-form .form-group a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}