main .main-container {
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  width: calc(100% - 270px);
  margin-left:270px;
  height:calc(100vh - 70px);
  background: #0A0906;
}

main .content-appointment {
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  margin-top: 2rem;
}

main .content-appointment .appointment-info {
  display:flex;
  align-items:center;
  justify-content: space-between;
  width: 300px;
  height: 150px;
  background: #131212;
  border:1px solid #29292e;
  padding: 20px 25px;
  border-radius:8px;
  cursor: pointer;
  content:"Cards";
}

main .content-appointment .appointment-info i {
  align-self: flex-end;
  color: #CDEEFD;
}

main .content-appointment .appointment-info .appointment-scheduled {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  color: #b5b5b5;
}
main .content-appointment .appointment-info .appointment-scheduled > span {
  font-size: 2rem;
}

main .content-appointment .appointment-info .appointment-scheduled  > span:first-child {
  font-size:1.7rem;
}

main .content-appointment .appointment-info .appointment-scheduled > span:last-child{
  font-weight: 500;
  color: #888;
  margin-top: 2rem;
  font-size: 1.2rem;
}

/* TABLE-CONTENT */

.table-content {
  width: 100%;
  max-width: 1070px;
  margin: 0px auto 50px auto;
  background-color: #fff;
  box-shadow:1px 1px 2px #ddd;
  padding:15px 20px;
  border-radius: 0.45rem;
  border-spacing: 0 0.5rem;
}

/* BOX-SEARCH-TABLE */
.box-search {
  display: flex;
  justify-content:space-between;
  margin-bottom: 1rem;
}

.box-search span {
  font-size:1.1rem;
  border-bottom: 1px solid #888;
}

.box-search input {
  width: 250px;
  height:35px;
  padding: 12px;
  outline: none;
  transition: border-color .4s;
  border-radius:0.25rem;
  border: 1px solid #ddd;
}
.box-search input:focus {
  border: 2px solid #CDEEFD;
  border-color: #CDEEFD;
}

table  tbody tr td {
  padding: 12px 15px;
  margin-bottom: 1rem;
  border-left: left;
  border-collapse: "none";
  background-clip: padding-box;
}

table tbody tr:nth-child(odd) {
  background-color: #eee;
 
}

table tbody tr {
  color: #888;
}

table  tr td:nth-child(2),
  table tr td:nth-child(3),
    table tr td:nth-child(4),
      table tr td:nth-child(5) {
        border-left: none;
    
}

table  tr td:nth-child(1),  
  table  tr td:nth-child(2),
    table tr td:nth-child(3),
      table tr td:nth-child(4) {
        border-right: none;
}

table tbody tr td  button {
  border: none;
  cursor: pointer;
}
table tbody tr td i {
  color: green;
}

.table-content table thead tr  {
  color: #888;
  text-align: left;
  font-weight: 500;
}

table tbody tr td img {
  width: 50px;
  height: 50px;
  border-radius:50%;
}