main .main-container {
  display:grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 1fr ; */
  width: calc(100% - 270px);
  margin-left:270px;
  background: #0A0906;
  padding: 10px;
}

main .content-appointment {
  display:flex;
  justify-content:space-evenly;
  margin: 50px 0 25px 0;
}

main .content-appointment .appointment-info {
  display:flex;
  align-items:center;
  justify-content: space-between;
  width: 370px;
  height: 150px;
  background: #131212;
  border:1px solid #29292e;
  padding: 20px 25px;
  border-radius:8px;
  cursor: pointer;
}

main .content-appointment .appointment-info i {
  align-self: flex-end;
  color: #CDEEFD;
}

main .content-appointment .appointment-info .appointment-scheduled {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  color: #b5b5b5;
}
main .content-appointment .appointment-info .appointment-scheduled > span {
  font-size: 2rem;
}

main .content-appointment .appointment-info .appointment-scheduled  > span:first-child {
  font-size:1.7rem;
}

main .content-appointment .appointment-info .appointment-scheduled > span:last-child{
  font-weight: 500;
  color: #888;
  margin-top: 2rem;
  font-size: 1.2rem;
}

/* TABLE-CONTENT */

.container {
  width: 100%;
  max-width: 1180px;
  display:flex;
  justify-content:space-between;
  height: 500px;

  margin-bottom:20px;
}

.container .leftside ,
  .container .rightside {
    background: #131212;
    border:1px solid #29292e;
    border-radius: 8px;
    overflow: hidden;
  }

.container .leftside {
  width: 100%;
  flex: 1;
}

.container .rightside {
  width: 368px;
  margin-left: 24px;
}

.container .leftside .title,
.container .rightside .title {
  height:50px;
  padding: 10px 0 10px 0;
  border-left:  4px solid #04D361;
  padding: 20px 25px;
  border-bottom: 1px solid #29292e;
}

.container .leftside h5,
.container .rightside h5 {
  color: #888;
}

/* CSS DA TABELA */
.container .leftside table {
  display: grid;
  padding: 20px 25px;

}
.container .leftside table  thead tr,
  .container .leftside table  tbody tr {
    display: grid;
    grid-template-columns: 5fr 2fr 2fr 1fr;
    justify-content:space-between;
    align-items: center;
    padding: 5px;
}

.container .leftside table  thead tr{
  width: 100%;
  color: #888;
  border-bottom: 1px solid #29292e;
}

.container .leftside table  tbody  tr {
  color: #f5f5f5;
  margin: 10px 0;
  cursor: pointer;
}

/* Redimensionamento da imagem do avatar */
.container .leftside table tbody tr td img{
  width: 40px;
  height: 40px;
  object-fit:cover;
  border-radius: 50%;
  margin-right: 5px;
}


/* status [confirmado, pendente, cancelado */
/* Pendente [gambiarra] */
.container .leftside table tbody tr td.pendente {
  color: #ffa500;
}

/* Pendente [gambiarra]  */
.container .leftside table tbody tr td.pendente > div.ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffa500;
}

/* Confirmado [gambiarra] */
.container .leftside table tbody tr td.confirmado {
  color: #00ff00;
}

/* Confirmado [gambiarra] */
.container .leftside table tbody tr td.confirmado > div.ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00ff00;
}
/* Cancelado [gambiarra] */
.container .leftside table tbody tr td.cancelado {
  color: #f00;
}

/* Cancelado [gambiarra] */
.container .leftside table tbody tr td.cancelado > div.ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f00;
}


/* Rightside ====== */
.container .rightside .patient-container {
  display:grid;
  grid-template-columns: 1fr 3fr;
  align-items:center;
  margin-top: 20px;
}

.container .rightside .patient-container img {
  width:45px;
  height: 45px;
  object-fit:cover;
  border-radius: 50%;
}

.container .rightside .patient-container h6 {
  color: #888;
}