main .main-container {
  display: grid;
  width: calc(100% - 270px);
  margin-left:270px;
  background: #0A0906;
}

.default {
  max-width:1070px;
  margin: 0 auto;
}

.default h3 {
  text-align: left;
  font-weight: 600;
  color: #e1e1e6;
}
/* CONTENT-PSI */
.content-psi {
  background: #151419;
  padding: 2rem 1.5rem;
  margin-top: 2rem;
  border-radius: 8px;
}

.content-psi-header {
  display: flex;
  justify-content:space-between;
  padding-bottom:1rem;
  border-bottom: 1px solid #29292e;
  color: #e1e1e6;
}


.content-psi-header button {
  background-color: #04d361;
  border: none;
  padding:10px 15px;
  cursor: pointer;
  border-radius:0.25rem;
  transition:background-color .3s ease-in-out;
}

.content-psi-header button i {
  color: #FFF;
}

.content-psi-header button:hover {
  background-color: #0AABF5;
  color: #fff;
}

/* GRID DOS PSI */
.grid-doctors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
}

.grid-doctors .doctor-box  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction:row;
  background: #151419;
  color: #fff;
  align-items: center;
  padding: 1rem;
  border-radius:8px;
  border: 1px solid #29292e;
  transform: scale(0.9);
  transition:all 0.4s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

/* DOCTOR-BOX SCALE */
.grid-doctors .doctor-box:hover {
  transform: scale(1);
}

.grid-doctors .doctor-box img{
  width:100px;
  height:100px;
  object-fit: cover;
  border-radius: 50%;
}

.grid-doctors .doctor-box .doctor-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.grid-doctors .doctor-box .doctor-info span:last-child {
  color: #888;
  margin-top: 14px;
}

/* CREATE */

.grid-doctors._create {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}


.grid-doctors._create img {
  border: 6px solid #FFF;
  box-shadow: 1px 1px 10px #888;
  background-color: #04a9f5;
  object-fit: cover;
}

.grid-doctors._create form .field-input {
  margin: 1rem 0;
  width: 1000px;
}

.grid-doctors._create form .field-input input {
  width: 100%;
  height:40px;
  padding:10px 20px;
  outline:none;
  background: rgb(32,32,36);
  border: none;
  border-radius: 0.25rem;
  transition: all ease-in-out .3s;
  color: #888;
}

.grid-doctors._create form .field-input input[type="file"] {
  border:none;
}

.grid-doctors._create form .field-input input:focus {
  border-color: #04d361;
  border:3px solid #04d361;
}

.grid-doctors._create form .field-input input::placeholder {
  color: #888;
}

.grid-doctors._create form .field-input button {
  height:40px;
  padding:10px 20px;
  outline:none;
  background: #04d361;
  border: none;
  border-radius: 0.25rem;
  transition: all ease-in-out .3s;
  cursor:pointer;
  color: #FFF;
  transition: all ease-in-out .3s;
}

.grid-doctors._create form .field-input button:hover {
  background-color: #04a9f5;
  color: #FFF;
}


/* Ações dos botões */
.field-input.action {
  display: flex;
  justify-content: space-evenly;
}

.grid-doctors._create form .field-input.action a {
  width: 350px;
  height:40px;
  padding:10px 20px;
  outline:none;
  background: #FFF;
  border: 1px solid #83bfff;
  border-radius: 0.25rem;
  transition: all ease-in-out .3s;
  cursor:pointer;
  color: #04a9f5;
  transition: all ease-in-out .3s;
  text-align: center;
}
.grid-doctors._create form .field-input.action button {
  width: 350px;
  height:40px;
  padding:10px 20px;
  outline:none;
  background: #FFF;
  border: 1px solid #83bfff;
  border-radius: 0.25rem;
  transition: all ease-in-out .3s;
  cursor:pointer;
  color: #04a9f5;
  transition: all ease-in-out .3s;
}

.grid-doctors._create form .field-input.action a#deletar {
  background-color:#C5211C;
  border: none;
  color: #FFF;
}

.grid-doctors._create form .field-input.action button#editar  {
  background-color: #04D361;
  color: #FFF;
  border: none;
}

/* HOVERS */
.grid-doctors._create form .field-input.action a#deletar:hover {
  background-color:#bd2c26;
}

.grid-doctors._create form .field-input.action button#editar:hover {
  background-color: #13ee76;
}