.container-header {
  width: 100%;
  max-width: 1192px;
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1;
  grid-template-areas: "logo lgo menu botoes";
  height:90px;
  align-items:center;
  margin: 0 auto;

  /* Deixar menu fixado no topo da página  */
  position: sticky;
  top: 0;
  /* left: 0;
  right: 0;    */
}
.container-header  a {
  text-decoration: none;
}

.container-header .logo {
  display: flex;
  grid-area: "logo";
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2rem;
} .container-header .logo img {
  margin-right: 1rem;
}

/* ====MENU==== */
.container-header nav .menu {
  grid-area: "menu";
}
.container-header nav  ul {
  display: flex;
  justify-content: center;
}
.container-header nav  ul li{
  display: flex;
  align-items: center;
  margin: 0 1.2rem;
}

.container-header nav  ul li a {
  color: #000;
  transition: all 0.2s;
}
.container-header nav  ul li a:hover {
  color: #aaa;
}

/* BOTÕES DE AÇÕES */
.container-header .menu-area{
  display:flex;
  grid-area: "botoes";
  align-items: flex-end;
  justify-content: flex-end;
}
.container-header .menu-area a {
  color: #000;
  padding: 1rem 2.5rem;
  border-radius: 0.45rem;
}

.container-header .menu-area a.button-blue {
  background-image:linear-gradient(to right, #649bff, #0070fa, #649bff);
  padding: 1rem 2.5rem;
  border-radius: 0.45rem;
  color: #fff;
  transition: all ease 0.5s;
}
.container-header .menu-area a.button-blue:hover {
  background-image:linear-gradient(to right, #649bff, #4391f0, #649bff);
}