.default {
  margin: 70px 2rem;
}

.default h3 {
  text-align: left;
  font-weight: 500;
}
/* CONTENT-PSI */
.content-psi {
  background: rgb(254, 254, 254);
  padding: 2rem 1.5rem;
  margin-top: 2rem;
  /* margin: 2rem; */
  box-shadow:1px 1px 5px #fff;
}

.content-psi-header {
  display: flex;
  justify-content:space-between;
  margin-bottom: 1rem;
  padding-bottom:1rem;
  border-bottom: 1px solid #888;
}


.content-psi-header button {
  background-color: #fff;
  border: 1px solid #0AABF5;
  padding:10px 15px;
  cursor: pointer;
  border-radius:0.25rem;
  transition:background-color .3s ease-in-out;
  color: #0AABF5;
}

.content-psi-header button:hover {
  background-color: #0AABF5;
  color: #fff;
}

table tbody tr td .avatar {
  width:40px;
  height:40px;
  border-radius:50%;
  
}