.sidebar {
  width: 260px;
  height: 100vh;
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar .logo {
  display: grid;
  grid-template-columns:40px 4fr 2fr;
  align-items: center;
  justify-content: center;
  font-size:14px;
  padding:20px 15px;
  background-color:#198754;
  color: #fff;
  cursor:pointer;
  font-weight: 500;
}

.sidebar .logo i {
  justify-self: flex-end;
}

.sidebar .logo img {
  width: 30px;  
  height: 30px;
  object-fit: cover;
 
}

/* BOX-SIDEBAR */
.box-sidebar {
  display:flex;
  flex-direction: column;
  padding: 10px;
  justify-items: center;
  /* align-items: center; */
}
.box-sidebar  span {
  display: block;
  margin:1rem 0rem;
  font-size:10px;
}

.box-sidebar ul li{
  list-style: none;
  padding: 18px 10px; 
  cursor: pointer;
  color: #888;
}

.box-sidebar ul li {
  display:flex;

  text-decoration: none;
  color: #888;
  font-size: 14px;
}
.box-sidebar ul li a {
  text-decoration:none;
  color: #888;
}

.box-sidebar ul li:hover{
  background-color: #F1F1F1;
  color: #04A9F5;
}

